# TeamsFx files
env/.env.*.user
env/.env.local
env/.env.dev
.localConfigs.testTool
.localConfigs
.notification.localstore.json
.notification.testtoolstore.json
appPackage/build
devTools/teamsapptester
# dependencies
node_modules/
package-lock.json
# misc
.env
.deployment
.DS_Store
